<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrate!
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <label for="text">Nombre</label>
                        <input type="text" name="name" class="form-control" autofocus value="{{name}}" />
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="text">Telefono</label>
                        <input type="number" name="telefono" class="form-control" value="{{telefono}}" />
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="text">Direccion</label>
                        <input type="text" name="direccion" class="form-control" value="{{direccion}}" />
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="text">Email</label>
                        <input type="email" name="email" class="form-control" value="{{email}}" />
                        <br>
                    </div>
                    <label for="text">Genero</label>
                    <select class="form-select" name="genero" aria-label="Default select example" id="tipoMedida">
                        <option selected value="seleccionar">-seleccionar-</option>
                        <option value="hombre">Hombre</option>
                        <option value="mujer">Mujer</option>
                    </select>
                    <div class="form-group">
                        <label for="text">Contraseña</label>
                        <input type="password" name="contraseña" class="form-control" value="{{contraseña}}" />
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="text">Confirmar Contraseña</label>
                        <input type="password" name="contraseña1" class="form-control" value="{{contraseña1}}" />
                        <br>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> SingUp</button>
                    </div>

            </div>
        </div>
    </div>
</div>